<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test odds</title>
  </head>
  <body>
    <% if(races !== null){ %>
      <ul>
          <% races.forEach(function(race) { %>
              <li><a href='/race?q=race&name=<%=encodeURIComponent(race) %>'><%= race %></a> </li>
          <% }); %>
      </ul>

    <% } %>
  </body>
</html>
