<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test odds</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,700|Roboto:400,400i,700,900"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet">
    <link href="https://promos.tvgresources.com/assets/new_css/about-seo-page-promostyle.css?v=1.0.0" rel="stylesheet"
        type="text/css">
    <link href="https://promos.tvgresources.com/assets/new_css/main.min.css" rel="stylesheet" type="text/css">
    <link href="https://promos.tvgresources.com/assets/new_css/newbrand-promostyle.min.css" rel="stylesheet"
        type="text/css">
    <link href="https://promos.tvgresources.com/assets/new_css/tables.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <a href='/'>back to list</a><br/>
    <h3><%= name %></h3>
    <% if(html !== null){ %>
        <%- html %> 

    <% } %>
  </body>
</html>
